@font-face {
  font-family: "VantaLight";
  src: url(../fonts/AnyConv.com__ofont.ru_VantaLight.woff),
    url(../fonts/AnyConv.com__ofont.ru_VantaLight.woff2);
  font-size: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vanta";
  src: url(../fonts/AnyConv.com__ofont.ru_Vanta.woff),
    url(../fonts/AnyConv.com__ofont.ru_Vanta.woff2);
  font-size: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  font-family: "VantaLight", Arial, sans-serif;
}

.section-studio {
  max-width: 1360px;
}

.container {
  margin: 0 auto;
  max-width: 1360px;
  padding: 0 15px 0 15px;
  background-color: #fff;
}

.section__title {
  max-width: 524px;
  margin: 120px auto 60px;
  text-align: center;
  font-family: "Vanta", Arial, sans-serif;
  font-size: 3em;
  line-height: 1.3;
  color: #363431;
}

.section-studio-item {
  max-width: 1328px;
}

.section-studio__items {
  display: grid;
  margin-top: 120px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "img1 img1 img2 img2"
    "img1 img1 img3 img4";
  gap: 32px;
}

.section-studio-item_1 {
  padding-bottom: 456px;
  background-size: cover;
  background-image: url(../images/1.1.png);
  grid-area: img1;
  font-family: "Vanta", Arial, sans-serif;
  font-size: 1.75rem;
  border-radius: 16px;
  justify-content: start;
}

.section-studio-item_2 {
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  background-image: url(../images/1.2.png);
  grid-area: img2;
  border-radius: 16px;
  vertical-align: bottom;
}

.section-studio-item_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c6c6c6;
  grid-area: img3;
  border-radius: 16px;
  justify-content: center;
}

.section-studio-item_4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c7df9e;
  grid-area: img4;
  border-radius: 16px;
}

.section-studio__text {
  max-width: 400px;
  padding: 48px 0px 48px 48px;
  font-family: "Vanta", Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.3;
  color: #fff;
}

.section-studio__text_small {
  max-width: 306px;
  text-align: center;
  font-family: "Vanta", Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.3;
  color: #fff;
}

.section-promotions {
  max-width: 1920px;
  max-height: 1024px;
  background-color: #f3f3f3;
}

.section-promotions__image {
  height: 100%;
}

.section-promotions__section-inner {
  max-width: 1100px;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.section-promotions__title {
  margin: 24px 0 24px 0;
  font-family: "Vanta", Arial, sans-serif;
  font-size: 2rem;
  color: #363431;
  font-weight: 400;
}

.section-promotions__text {
  max-width: 512px;
  margin: 24px 0 24px 0;
  font-family: "VantaLight", Arial, sans-serif;
  font-size: 1.125rem;
  color: #363431;
  font-weight: 400;
  line-height: 1.7;
}

.section-promotions__price {
  display: flex;
  margin: 12px 0 36px 0;
  font-family: "Vanta", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #74b900;
}

.section-promotions__price--false {
  display: inline-flex;
  flex-direction: column-reverse;
  font-size: 1.125rem;
  text-decoration: line-through;
}

.section-promotions__btn {
  display: block;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: "Vanta", Arial, sans-serif;
  font-size: 1.125rem;
  color: #363431;
  font-weight: 400;
  position: relative;
}

.section-promotions__btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #363431;
  left: 0;
  top: 100%;
}
