@font-face {
  font-family: "VantaLight";
  src: url(../fonts/AnyConv.com__ofont.ru_VantaLight.woff),
    url(../fonts/AnyConv.com__ofont.ru_VantaLight.woff2);
  font-size: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vanta";
  src: url(../fonts/AnyConv.com__ofont.ru_Vanta.woff),
    url(../fonts/AnyConv.com__ofont.ru_Vanta.woff2);
  font-size: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  font-family: "VantaLight", Arial, sans-serif;
}

.section-studio {
  max-width: 1328px;
  padding: 0 296px 0 295px;
}

.container {
  margin: 0 auto;
  max-width: 1329px;
  background-color: #fff;
}

.section__title {
  /* width: 524px;
  height: 112px; */
  max-width: 100%;
  text-align: center;
  font-family: "Vanta", Arial, sans-serif;
  font-size: 3em;
  line-height: 1.3;
  color: #363431;
}

.section-studio__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "img1 img1 img2 img2"
    "img1 img1 img3 img4"; */
  gap: 32px;
}

.section-studio_item-1 {
  /* width: 649px;
  height: 608px; */
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
  /* display: block;
  max-width: 100%;
  height: auto; */
  background-size: cover;
  background-image: url(../images/1.1.png);
  grid-area: img1;
  font-family: "Vanta", Arial, sans-serif;
  font-size: 1.75rem;
  justify-content: start;
  grid-column: 1/3;
  grid-row: 1/3;
}

/* .section-studio_item-1__text {
  width: 400px;
  height: 104px;
  padding: 48px 201px 456px 48px;
} */

.section-studio_item-2 {
  /* width: 648px;
  height: 288px; */
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
  background-size: cover;
  background-image: url(../images/1.2.png);
  grid-area: img2;
  grid-column: 3/5;
  grid-row: 1/2;
}

.section-studio_item-3 {
  /* width: 306px;
  height: 288px; */
  background-color: #c6c6c6;
  grid-area: img3;
  justify-content: center;
  grid-column: 3/4;
  grid-row: 2/3;
}

.section-studio_item-4 {
  /* width: 306px;
  height: 288px; */
  background-color: #c7df9e;
  grid-area: img4;
  justify-content: center;
  grid-column: 4/5;
  grid-row: 2/3;
}

.section-promotions {
  max-width: 1920px;
  height: 1024px;
  background-color: #f3f3f3;
}

.section-promotions__image {
  /* background-image: url(../images/1.3.png);
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100%;
}

.section-promotions__section-inner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 312px 296px 288px 296px; */
  align-items: center;
}

.section-promotions__title {
  margin: 24px 0 24px 0;
  font-family: "Vanta", Arial, sans-serif;
  font-size: 2rem;
  color: #363431;
  font-weight: 400;
}

.section-promotions__text {
  margin: 24px 0 24px 0;
  font-family: "VantaLight", Arial, sans-serif;
  font-size: 1.125rem;
  color: #363431;
  font-weight: 400;
  line-height: 1.7;
}

.section-promotions__price {
  display: flex;
  margin: 12px 0 36px 0;
  font-family: "Vanta", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #74b900;
}

.section-promotions__price--false {
  /* display: contents; */
  font-size: 1.125rem;
  text-decoration: line-through;
}

.section-promotions__btn {
  display: block;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: "Vanta", Arial, sans-serif;
  font-size: 1.125rem;
  color: #363431;
  font-weight: 400;
  position: relative;
}

.section-promotions__btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #363431;
  left: 0;
  top: 100%
  transform: translateX(42%);
}

.footer {
}
